@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root{
    --text-primary:#121212;
    --bg-primary:#ffffff;
    --bg-secondary:#f3f4f6;
  }

 .dark{
   --text-primary:#ffffff;
   --bg-primary:#1f2937;
   --bg-secondary:#111827;
 }
 
 body{
   @apply bg-secondary antialiased;
 }
}

@layer components {
 
  label {
    @apply text-sm text-gray-500;
  }
  .heading {
    @apply text-lg font-semibold;
  }
  .input-field {
    @apply rounded-lg bg-secondary p-2 ring-0 focus:outline-1 focus:outline-pink-500;
  }
  .btn-outline {
    @apply rounded bg-white p-2 text-primary shadow-md ring-1 ring-black hover:bg-blue-100 hover:ring-blue-500;
  }
  .btn {
    @apply rounded-3xl bg-pink-500 px-4 py-2 text-sm text-white shadow-md;
  }
  .btn-secondary {
    @apply rounded-3xl border border-pink-500 bg-primary px-4 py-2  text-sm text-pink-500 shadow-md;
  }

}
